* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.shop-category {
    padding: 0 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shop-category > img {
    width: 100%;
}
.shopcategory-indexsort {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1.5rem 0 1rem;
}
.shopcategory-indexsort p {
    font-size: 0.9rem;
}
.shopcategory-indexsort p span {
    font-weight: 600;
    padding-right: 7px;
}
.shopcategory-sort {
    width: 6.5rem;
    padding: 0.4rem;
    border-radius: 3rem;
    border: 1px solid grey;
    text-align: center;
    cursor: pointer;
}
.shopcategory-sort img {
    width: 0.7rem;
}
.items-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.shopcategory-exploremore {
    width: 8rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(225, 225, 225);
    border-radius: 3rem;
    font-size: 0.9rem;

    cursor: pointer;
    margin-top: 0.7rem;
    color: rgb(115, 116, 116);
}
@media (max-width: 768px) {
    .items-div {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 570px) {
    .items-div {
        grid-template-columns: 1fr 1fr;
    }
    .shopcategory-indexsort {
        margin: 1.5rem 0 1.6rem;
    }
}
@media (max-width: 420px) {
    .items-div {
        grid-template-columns: 1fr;
    }
    .shopcategory-indexsort {
        justify-content: center;
    }
    .shopcategory-indexsort p {
        display: none;
    }
}
