.breadcrum{
    margin: 1rem .5rem;
    font-size: .95rem;
}
.breadcrum img{
    height: 0.7rem;
}
.breadcrum a{
    text-decoration: none;
    color: black;
}
.breadcrum a:hover{
    color: rgb(94, 95, 96);
}