.breadcrum {
    margin: 2.5rem 7%;
    font-size: 0.9rem;
}
.breadcrum img {
    height: 0.7rem;
    margin:0 0.1rem;
}
.breadcrum a {
    text-decoration: none;
    color: black;
}
.breadcrum a:hover {
    color: rgb(94, 95, 96);
}
