.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    margin: 6rem 6%;
    padding: 3rem 3rem 0;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
}
.newsletter p {
    color: rgb(66, 65, 65);
    font-weight: 500;
    text-align: center;
}
.newsletter div {
    display: flex;
    justify-content: center;
    padding-left: 3rem;
    width: 80%;
    max-width: 50rem;
    height: 3rem;
    flex-shrink: 1;
}
.newsletter div input {
    background: transparent;
    border-radius: 3rem;
    flex-grow: 1;
    border: 1px solid grey;
    padding: 1rem;
}
.newsletter div button {
    border-radius: 3rem;
    min-width: 6.8rem;
    max-width: 8rem;
    flex-grow: 1;
    height: 3rem;
    border: none;
    background: black;
    color: white;
    position: relative;
    right: 3rem;
}

.newsletter h1 {
    font-size: clamp(2rem, 3.3vw, 5rem);
    text-align: center;
}

@media (max-width: 475px) {
    .newsletter div {
        flex-wrap: wrap;
        padding-left: 0;
    }
    .newsletter div input {
        padding-left: 6rem;
    }
    .newsletter div button {
        position: inherit;
        margin-top: 1rem;
    }
}
